body {
	font-family: Arial, Helvetica, sans-serif;
	background: linear-gradient(45deg, #ff512f, #dd2476);
}

/* Layout */
.ba-container {
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1200px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button {
	transition: color 0.3s ease-in, border-color 0.3s ease-in,
		background-color 0.3s ease-in, opacity 0.3s ease-in;
}

input[type="submit"],
input[type="button"],
button,
.ba-button {
	display: inline-block;
	border: none;
	border-radius: 4px;
	display: inline-block;
	height: 50px;
	background-color: #ea355a;
	color: #fff;
	font-weight: 700;
	font-size: 18px;
	box-shadow: 0px 3px 0px 0px #bd1962;
	padding: 0;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover {
	background: linear-gradient(45deg, #ff512f, #dd2476);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color 0.3s ease-in, border-color 0.3s ease-in,
		background-color 0.3s ease-in, opacity 0.3s ease-in;
	padding: 14px;
	display: inline-block;
	font-size: 13px;
	border-radius: 4px;
	background-color: #f0f0f0;
	border: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {}

textarea {}

main {
	padding-top: 60px;
}

.ba-registration-form {
	max-width: 460px;
	margin: 0 auto;
	background: #fff;
	padding: 31px;
	border-radius: 4px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.ba-registration-form__header {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 13px;

}

.form-title {
	font-size: 24px;
	font-weight: 700;
	margin: 0;
	padding: 0;
}

.form-title:before {
	content: "";
	display: inline-block;
	height: 24px;
	width: 24px;
	background: url(../img/key_icon.png);
	vertical-align: middle;
	margin-right: 7px;
}

.information-text {
	color: #797b7f;
	font-size: 13px;
	font-weight: 400;
	line-height: 20px;
	word-spacing: 1px;
}

.form-links {
	color: #ea355a;
	text-decoration: none;
}

.ba-form-row {
	margin-bottom: 12px;
}

.ba-row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -16px;
}

.ba-registration-form__footer {
	margin-bottom: 31px;
}

.ba-registration-form__footer>button {
	margin-bottom: 10px;
}

input {
	position: relative;
}


input[type="text"]:focus::placeholder {
	text-indent: +50%;
	opacity: 0.6;
}

input[type="email"]:focus::placeholder,
input[type="password"]:focus::placeholder {
	text-indent: +70%;
	opacity: 0.6;


}